@import "tailwindcss";
@plugin "tailwindcss-animate";

@keyframes revealLeft {
    0% {
        clip-path: inset(0 0 0 100%);
    }

    100% {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes squeegeeMove {
    0% {
        left: 100%;
    }

    100% {
        left: 0%;
    }
}

@theme inline {
    --animate-revealLeft: revealLeft 1.5s cubic-bezier(0.65, 0, 0.35, 1) forwards;
    --animate-squeegeeMove: squeegeeMove 1.5s cubic-bezier(0.65, 0, 0.35, 1) forwards;

    --color-oxblood-50: #fdf2f4;
    --color-oxblood-100: #fde6e9;
    --color-oxblood-200: #fbd0d9;
    --color-oxblood-300: #f7aab9;
    --color-oxblood-400: #f27a93;
    --color-oxblood-500: #e63f66;
    --color-oxblood-600: #d41f4d;
    --color-oxblood-700: #b3123e;
    --color-oxblood-800: #941036;
    --color-oxblood-900: #800020;
    --color-oxblood-950: #4a0415;
}